{% extends 'layouts/base.html' %}

{% block title %} Blog {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="breadcrumb-area pt-95 pb-95 bg-img"
         style="background-image:url(/static/assets/img/banner/banner-2.jpg);">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Blog Left sidebar</h2>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li class="active">Blog Left sidebar</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-area pt-100 pb-100">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9 col-md-8">
                    <div class="row">
                        {% for blog in blogs %}
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-wrapper mb-30 gray-bg">
                                    <div class="blog-img hover-effect">
                                        <a href="{{ blog.get_absolute_url }}"><img alt="" src="{{ blog.photo.url }}"></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta">
                                            <ul>
                                                <li>Автор: <span>{{ blog.author }}</span></li>
                                                <li>{{ blog.created_at }}</li>
                                                <br>
                                                {% for tag in blog.tag.all %}
                                                    <a href="" class="mr-1 badge badge-info">#{{ tag }}</a>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <h4><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h4>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="pagination-style text-center mt-10">
                        <ul>
                            <li>
                                <a href="#"><i class="icon-arrow-left"></i></a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a class="active" href="#"><i class="icon-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% include 'includes/_sidebar.html' %}
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}

    {% include 'includes/modal_fade.html' %} <!-- modal -->
    {% include 'includes/scripts.html' %} <!-- all js here -->
{% endblock content %}




